
/* Html */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/* Navbar Contact */

#navbar .main-contact {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 1rem;
    margin-bottom: 4rem;
    
}

#navbar .main-contact .main-logo {
    text-align: center;
    
}

#navbar .main-contact .main-logo p{
    margin-right: 1.4rem;
}

#navbar .main-contact .main-logo h1{
    color: rgba(18, 81, 163, 0.829);
}

/* Navbar Contact  */
#navbar .main-contact .contact {
    text-align: center;
    
    align-self: flex-end;
}

#navbar .main-contact .contact h4{
    margin-bottom: 0.4rem;
}



/* Navbar Mail */

#navbar .main-contact .mail {
    text-align: center;
    
    align-self: flex-end;
}

#navbar .main-contact .mail h4{
    margin-bottom: 0.4rem;
}



/* Navbar Shift */

#navbar .main-contact .shift {
    text-align: center;
    align-self: flex-end;
}

#navbar .main-contact .shift h4{
    margin-bottom: 0.4rem;
}



/* Main Navbar */

#navbar .main-navbar {
    margin-top: 5rem; 
}

#navbar .main-navbar ul {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 1.3rem;
}

#navbar .main-navbar ul li{
    width: 10%;
    list-style-type: none
}

#navbar .main-navbar ul li a{
    text-decoration: none;
    font-size: 20px;
    color: black;
}

#navbar .main-navbar .navbar-line hr{
    width: 20rem;
    align-self: center;
}


/* Main Navbar HOVER */

#navbar .main-navbar ul li a:hover{
    text-decoration: overline;
    color: rgba(18, 81, 163, 0.829);
}