
/* Html */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/* Navbar Contact */

#navbar .main-contact {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 1rem;
    margin-bottom: 2.84rem;
    
}

#navbar .main-contact .main-logo {
    text-align: center;
    
}

#navbar .main-contact .main-logo p{
    margin-right: 1.4rem;
}

#navbar .main-contact .main-logo h1{
    color: rgba(18, 81, 163, 0.829);
}

/* Navbar Contact  */
#navbar .main-contact .contact {
    text-align: center;
    align-self: flex-end;
}

#navbar .main-contact .contact h4{
    margin-bottom: 0.4rem;
}



/* Navbar Mail */

#navbar .main-contact .mail {
    text-align: center;
    align-self: flex-end;
}

#navbar .main-contact .mail h4{
    margin-bottom: 0.4rem;
}



/* Navbar Shift */

#navbar .main-contact .shift {
    text-align: center;
    align-self: flex-end;
}

#navbar .main-contact .shift h4{
    margin-bottom: 0.4rem;
}



/* Main Navbar */


#navbar .main-navbar ul {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 1.3rem;
}

#navbar .main-navbar ul li{
    width: 10%;
    list-style-type: none
}

#navbar .main-navbar ul li a{
    text-decoration: none;
    font-size: 20px;
    color: black;
}

#navbar .main-navbar .navbar-line hr{
    width: 20rem;
    align-self: center;
}


/* Main Navbar HOVER */

#navbar .main-navbar ul li a:hover{
    text-decoration: overline;
    color: rgba(18, 81, 163, 0.829);
}

/* Intro Image */

#intro .intro-image{
    position: relative;
}

#intro .intro-image img{
    max-width: 100%;
    height: auto;
    opacity: 0.8;
}



/* Intro Header */

#intro .image-description h1{
    top: 100px;
    color: black;
}

#intro .intro-image h1{
    position: absolute;
    top: 170px;
    left: 200px;
}

#intro .intro-image h4{
    position: absolute;
    top: 320px;
    left: 205px;
}



/* Intro Button */

#intro .intro-image .btn-intro:hover {
    background: #fff;
    color: rgba(15, 69, 139, 0.829);
    border: rgba(18, 81, 163, 0.829);
    font-size: 15px;
    transition: 0.5s;
}

#intro .intro-image .btn-intro{
    position: absolute;
    top: 400px;
    left: 205px;
}

#intro .intro-image .btn-intro-second:hover{
    background: rgb(38, 105, 194);
    color: white;
    font-size: 15px;
    border-radius: 3px;
    transition: 0.5s;
}

#intro .intro-image .btn-intro-second {
    position: absolute;
    top: 400px;
    left: 370px;
}



/* About Area */

#about {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 4rem;
    margin-bottom: 5rem;
}

#about .about-image img{
    width: 300px;
    height: 300px;
    object-fit: cover;
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 5px;
    transition: 0.5s;
}

#about .about-image img:hover {
    opacity: 0.9;
    transition: 0.5s;
}

#about .description {
    display: flex;
    flex-direction: column;
}

#about .description h3{
    font-size: 4rem;
    margin-bottom: 1.8rem;
}

#about .description span{
    font-weight: bold;
    margin-bottom: 2.6rem;
}

#about .description .btn-intro {
    width: 140px;
}

#about .description .btn-intro:hover {
    background: rgb(207, 203, 203);
    color: rgba(15, 69, 139, 0.829);
}



/* Description */

#description {
    margin-bottom: 5rem;
}

#description .description-area {
    position: relative;
}

#description .description-area .description-header h4{
    position: absolute;
    top: 60px;
    left: 370px;
    font-size: 3rem;
}

#description .description-area .description-paragraph span{
    position: absolute;
    font-size: 2rem;
    top: 150px;
    left: 270px;
}

#description .description-area img{
    max-width: 100%;
    height: auto;
    opacity: 0.7;
}

