/* Navbar Main Contact */

#navbar {
    display: flex;
    flex-direction: row;
}

#navbar .main-contact {
    display: flex;
    flex-direction: column;
}

#navbar .main-contact .main-logo {
    margin-bottom: 3rem;
    align-self: flex-start;
}



/* Navbar Contact  */

#navbar .main-contact .contact {
    margin-bottom: 3rem;
    align-self: flex-start;
    
}


/* Navbar Mail */

#navbar .main-contact .mail {
    margin-bottom: 3rem;
    align-self: flex-start;
}

#navbar .main-contact .mail h4 {
    text-align: start;

}



/* Navbar Shift */

#navbar .main-contact .shift {
    margin-bottom: 2rem;
    align-self: flex-start;
}

#navbar .main-contact .shift h4 {
    text-align: start;
}

#navbar {
    display: flex;
    flex-direction: column;
}



/* Main Navbar */

#navbar .main-navbar {
    display: felx;
    flex-direction: row;
}

#navbar .main-navbar ul li{
    position: relative;
}

#navbar .main-navbar ul li a{
    font-size: 15px;
    position: absolute;
    bottom: 3px;
    right: 43px;
}

#navbar .main-navbar ul li a:hover{
    text-decoration: none;
}

#navbar .main-navbar {
    margin-top: -1rem;
}



/* Intro */

#intro .intro-image img{
    height: 455px;
    object-fit: cover;
}

#intro .intro-image .header-intro{
    font-size: 50px;
    top: 150px;
    left: 30px;
}

#intro .intro-image .header-large{
    font-size: 25px;
    top: 220px;
    left: 35px;
}

#intro .intro-image .btn-intro {
    display: none;
}

#intro .intro-image .btn-intro-second {
    display: none;