/* Navbar Main Contact */

#navbar {
    display: flex;
    flex-direction: row;
}

#navbar .main-contact {
    display: flex;
    flex-direction: column;
}

#navbar .main-contact .main-logo {
    margin-bottom: 3rem;
    align-self: flex-start;
}



/* Navbar Contact  */

#navbar .main-contact .contact {
    margin-bottom: 3rem;
    align-self: flex-start;
    
}


/* Navbar Mail */

#navbar .main-contact .mail {
    margin-bottom: 3rem;
    align-self: flex-start;
}

#navbar .main-contact .mail h4 {
    text-align: start;

}



/* Navbar Shift */

#navbar .main-contact .shift {
    margin-bottom: 2rem;
    align-self: flex-start;
}

#navbar .main-contact .shift h4 {
    text-align: start;
}

#navbar {
    display: flex;
    flex-direction: column;
}



/* Main Navbar */

#navbar .main-navbar ul li{
    justify-content: space-around;
    padding-right: 3.8rem;
}

#navbar .main-navbar ul li a:hover{
    text-decoration: none;
}

#navbar .main-navbar {
    margin-top: -1rem;
}

/* Intro */