
/* iPad Pro */

/* Main Navbar */

#navbar .main-navbar ul {
    justify-content:center;
}

#navbar .main-navbar ul li{
    margin-left: 4rem;
}

/* Main Navbar HOVER */

#navbar .main-navbar ul li a:hover{
    text-decoration: none;
    color: rgba(18, 81, 163, 0.829);
}

/* Intro  */

#intro .intro-image h1{
    font-size: 5rem;
    top: 60px;
    left: 90px;
}

#intro .intro-image h4{
    font-size: 2rem;
    top: 160px;
    left: 100px;
}

#intro .intro-image .btn-intro {
    top: 240px;
    left: 110px;
}

#intro .intro-image .btn-intro-second {
    top: 240px;
    left: 270px;
}

/* About Area */

#about .description {
    position: relative;
}

.description .btn-intro {
    position: absolute;
    right: 400px;
    top: 200px;
}

.description span{
    position: absolute;
    top: 90px;
    left: 10px;
}



/* Description */

#description .description-area {
    position: relative;
}

#description .description-area .description-header h4{
    position: absolute;
    top: 45px;
    left: 180px;
}

#description .description-area .description-paragraph span{
    position: absolute;
    top: 115px;
    left: 70px;
}